/* Reset do CSS */
/* O * seleciona todos os elemntos do HTML */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #b4b4b4;
    padding: 20px 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #FFFF;
    padding: 20px;
    border-radius: 30px;
    line-height: 100%;
}

nav>img{
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: space-evenly;
   border:#b4cea3 outset 2px;
   border-radius: 50%;

}

header>p{
   font-size: 40px;
   margin-top: 40px;
}

ul, nav{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
}

li{
    list-style: none;
    margin-top: 40px;
    font-size: 23px;
    margin-left: 130px;
}

a{
    text-decoration: none;
    color: black;
}

main, footer{
    width: 100%;
    background-color: #FFFF;
    padding: 20px;
    border-radius: 30px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 8px;
}

/* Seleção de hierarquia, seleciona apenas o P do MAIN */
main>p {
    min-width: 100%;
    color: #b4b4b4;
}

aside, article{
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 30px;
}

aside{
    width: 30%;
    height: 75%;
}

article{
    width: 60%;
}

section{
    background-color: #b4cea3;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
}

figure>p{
    margin-top: 50px;
}

figure>source, img{
    border-radius: 30px;
    padding: 10px 0 0 0;
}
figcaption{
    background-color: #b4cea3;
    color: black;
    padding: 5px;
    max-width: 1000px;
    text-align: center;
    border-radius: 30px;
}


.icons{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
}

.texto{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

@media (max-width:600px) {
    body{
        background-color: rgb(231, 230, 230);
        font-family: monospace;
        padding: 10px 20px;
        gap: 8px;
        font-size: 16px;
    }
    main, header, nav, footer{
        background-color: #b4cea3;
        color: black;
    }
}

@media (min-width:600px) and (max-width:1600px) {
    body{
        background-color: rgb(231, 230, 230);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 20px 30px;
        gap: 8px;
        font-size: 17px;
    }
    main, header, nav, footer{
        background-color: #b4cea3;
        color: black;
    }
}

@media (min-width:1600px) {
    body{
        background-color: rgb(231, 230, 230);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 30px 40px;
        gap: 8px;
        font-size: 18px;
    }
    main, header, nav, footer{
        background-color: #b4cea3;
        color: black;
    }
}